<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="GVGodontologiaConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\inetpub\wwwroot\GVGodontologia\bbdd\gvg.accdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime executionTimeout="300" maxRequestLength="20480" targetFramework="4.5" />
   </system.web>
   <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>